<%- include('../partials/header') %>
<main>
    <div class="side-view">
        <div class="side-view-left">
            <h2>All Vehicles</h2>
        </div>
        <div class="side-view-right">
            <p>Sort: </p>
            <button class="btn">Coming Soon!</button>
        </div>
    </div>
    <div class="vehicle-list-buffer">
        <div class="vehicle-list">
            <% if (vehicles && vehicles.length > 0) { %>
                <% vehicles.forEach(vehicle => { %>

                    <div class="vehicle-card">
                        <a href="/vehicles/<%= vehicle.id %>">
                            <img class="card-img" src="<%= vehicle.image_url || 'https://placehold.co/400x300/eee/999?text=No+Image' %>" alt="<%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %>">
                            <div class="vehicle-card-details">
                                <h3><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></a></h3>
                                <p class="vehicle-meta"><%= vehicle.year %> - $<%= Number(vehicle.price).toLocaleString() %><% if (vehicle.mileage) { %> - <%= vehicle.mileage.toLocaleString() %> mi<% } %></p>
                            </div>
                        </a>
                    </div>

                <% }); %>
            <% } else { %>
                <p>No vehicles available at this time.</p>
            <% } %>

        </div>
    </div>
</main>
<%- include('../partials/footer') %>
