<%- include('partials/header') %>
<main>
    <div class="dashboard">
        <h1>Dashboard</h1>
        
        <p>Welcome back, <strong><%= user.name %></strong>! This is your <strong><%= user.roleName %> dashboard</strong> where you can interact with our services.</strong></p>  

        <% if (isAdmin) { %>
        <div class="card red">
            <h2>Admin Actions</h2>
            <p>Coming soon!</p>
        </div>
        <% } %>

        <% if (isEmployee) { %>
        <div class="card yellow">
            <h2>Employee Actions</h2>
            <a href="/contact/responses" class="btn">Contact Form Submissions</a>
        </div>
        <% } %>

        <div class="dashboard-actions">
            <a href="/service-request" class="btn">Submit Service Request</a>
            <a href="/logout" class="lowlight btn logout-button">Logout</a>
        </div>

        <div class="card dashboard-detail">
            <h2>My Service Requests</h2>
            <p>Coming soon!</p>
        </div>

        <div class="card">
            <h2>Your Account Information</h2>
            <div class="user-detail">
                <div>
                    <span class="label">Name:</span>
                    <span class="value"><%= user.name %></span>
                </div>
                <div>
                    <span class="label">Email:</span>
                    <span class="value"><%= user.email %></span>
                </div>
                <div>
                    <span class="label">Account created:</span>
                    <span class="value"><%= new Date(user.created_at).toLocaleDateString() %></span>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') %>